// TODO stillingar hér
$font-size: 16px;
$black:#000000;
$white: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;

$max-width: 1200px;
$gutter: 20px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Oswald', Verdana, serif;
