.course {
  &__main {
    padding: 0 10px;
    @media (min-width: 1200px) {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
      margin: 0 -10px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    @include columns(12);

    @media (min-width: 700px) {
      @include columns(6);
    }
  }

  &__title {
    margin-bottom: $gutter;
    font-family: $font-heading;
  }

  &__text {
    margin-bottom: 3*$gutter;
  }

  &__img {
    width: 100%;
  }
}
