@import "config";



.course {

    &__main {
        padding: 0 10px;
        @media (min-width: 1200px) {
            padding: 0;
        }
    }
   
    &__row {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 1200px) {
        margin: 0 -10px;
        }
    }
    
    &__col {
        display: flex;
        flex-direction: column;
        @include columns(12);
    
        @media (min-width: 700px) {
            @include columns(6);
        }
    }

    &__title {
        font-family: $font-heading;
        margin-bottom: $gutter;
    }

    &__text {
        margin-bottom: 3*$gutter;
    }

    &__img {
        width: 100%;
    }

    &__form {
        display: flex;
        flex:1;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &__col {
            display: flex;
            flex-direction: column;
            @include columns(12);
            @media (min-width: 700px) {
                @include columns(6);
                padding-right: $gutter*3;
            }
        }
        
        &__title {
            font-family: $font-heading;
            margin: $gutter 0;
        }

        &__question {
            display: flex;
            margin-bottom: $gutter/2;
        }

        &__label {
            font-family: $font-main;
            width: 40%;
        }

        &__input {
            font-family: $font-main;
            display: flex;
            justify-content: space-between;
            width: 60%;
            border: 0.5px solid #000;
            border-radius: 3px;

            &__div {
                display: flex;
                width: 45%;
                justify-content: space-between;

                &__label {
                    font-family:$font-main;
                }
            }

        }

        &__button {
            margin: $gutter auto -10px auto;
            border: 0;
        }

    }
    
}

.--noborder {
    border: 0px;
}


