.footer {
  padding: $gutter 0;
  margin: $gutter*2 auto 0;
  background-color: $blue;

  &__container {
    display: flex;
    max-width: $max-width + 2*$gutter;
    margin: 0 auto;
    flex-direction: column;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin-bottom: $gutter / 2;
  }

  &__link {
    color: $white;
    text-decoration: none;

    transition: color $transition;
  }

  &__link:hover {
    color: $black;
  }

  &__row {
    display: flex;
    padding: 0 $gutter / 2;
    margin: $gutter / 2 0;
  }

  &__col {
    width: 50%;
    padding: 0 $gutter / 2;
  }

  &__title {
    margin-bottom: $gutter;
  }

  &__copyright {
    margin: $gutter;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .footer__container {
    padding: 0 $gutter/2;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer__row {
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .footer__col {
    width: 50%;
    padding: 0 $gutter/2;
    margin: 0;
  }
}
