.grid {
  max-width: $max-width;
  display: flex;
  flex-driection: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 $gutter;
}

.grid__col {
  @include columns(12);
}

.grid__row {
  @include row();
}

.grid__title {
  font-family: $font-heading;
  font-size: 2.25rem;
  font-weight: 700;
}

.grid__text {
  display: flex;
  flex-direction: column;
  margin: $gutter 0;
}

.grid__img {
  width: 100%;
}

.grid__texti {
  font-size: 1.5rem;
}

.grid__text > * {
  margin-bottom: $gutter;
}

.grid__link {
  background-color: $blue;
  color: $black;
  border-radius: 4px;
  text-decoration: none;
  padding: 1em 0em;
  width: 50%;
  text-align: center;
  transition: background-color $transition, color $transition;
}

.grid__link:hover {
  background-color: $orange;
  color: $white;
}

@media (min-width: 800px) {
  .grid__col {
    width: 50%;
    @include columns(6);
  }

  .grid__row {
    display: flex;
    margin-bottom: $gutter * 2;
  }

  .grid__text {
    margin: 0;
  }

  .grid__col--first800 {
    order: -1;
  }
}

@media (min-width: $max-width + 2 * $gutter) {
  .grid {
    padding: 0;
  }
}
