.grid {
  display: flex;
  max-width: $max-width;
  padding: 0 $gutter;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  &__col {
    @include columns(12);
  }

  &__row {
    @include row();
  }

  &__title {
    font-family: $font-heading;
    font-size: 2.25rem;
    font-weight: 700;
  }

  &__text {
    display: flex;
    margin: $gutter 0;
    flex-direction: column;
    align-items: flex-start;
  }

  &__img {
    width: 100%;
  }

  &__texti {
    font-size: 1.5rem;
  }

  &__text > * {
    margin-bottom: $gutter;
  }

  &__link {
    padding: $gutter 3*$gutter;
    color: $black;
    text-align: center;
    text-decoration: none;
    background-color: $blue;
    border-radius: 4px;
    transition: background-color $transition, color $transition;
  }

  &__link:hover {
    color: $white;
    background-color: $orange;
  }
}

@media (min-width: 800px) {
  .grid__col {
    width: 50%;
    @include columns(6);
  }

  .grid__row {
    display: flex;
    margin-bottom: $gutter * 2;
  }

  .grid__text {
    margin: 0;
  }

  .grid__col--first800 {
    order: -1;
  }
}

@media (min-width: $max-width + 2 * $gutter) {
  .grid {
    padding: 0;
  }
}
