.header {
  display: flex;
  padding: $gutter 0;
  margin-bottom: 2*$gutter;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $orange;
}

.header__title {
  margin: $gutter auto;
  font-family: $font-heading;
  font-size: 3 * $font-size;
}

.header__nav {
  display: flex;
  max-width: $max-width + $gutter*2;
  margin: 0 auto;
  flex-direction: column;
}

.header__nav--fill {
  display: none;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__list-item {
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
}

.header__cart,
.header__nav--fill {
  padding-left: $gutter * 2;
  margin: 10px auto;
  background-image: url("img/cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__list-item--current {
  text-decoration: underline;
  transition: color $transition;
}

.header__link {
  color: $black;
  text-decoration: none;
  transition: color $transition;
}

.header__link:hover,
.header__list-item--current:hover {
  color: $white;
}

@media (min-width: 800px) {
  .header__nav {
    width: 100%;
    padding: 0 $gutter;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__list {
    flex: 1 1 0;
  }

  .header__nav--fill {
    display: block;
    visibility: hidden;
  }
}

@media (min-width: $gutter*2 + $max-width) {
  .header__nav {
    width: $max-width + $gutter*2;
  }
}
