@import "config";

.products {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
        margin: 0 -10px;
    }

    &__main {
        padding: 0 10px;
        @media (min-width: 1200px) {
            padding: 0;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    @include columns(12);

  width: 100%;
  @media (min-width: 700px) {
    @include columns(6);
  }
  @media (min-width: 1000px) {
    @include columns(4);
  }

  &__image {
  }

  &__img {
    width: 100%;
  }

  &__content {

  }

  &__info {
  }

  &__title {
    font-family: $font-heading;
    font-size: 2.25em;
    margin: $gutter 0;
  }

  &__text {
      height: 2.5*$gutter;
  }

  &__price {
    font-size: 1.3125em;
    font-weight: 700;
    font-family: $font-heading;
    margin: $gutter 0;
  }

  &__form {   
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    width: 100%;
  }

  &__input {
    flex: 1;
    border-radius: 3px;
    margin-right: 10px;
  }

  &__button {
    padding: 7px;
    padding-left: 30px;
    margin-right: $gutter/2;
    font-family: $font-main;
    background: #f0f0f0 url("../img/cart.svg") no-repeat 3px 50%;
    background-size: 20px;
    border: 0.5px $black solid;
    border-radius: 3px;
    transition:
      background-color $transition,
      border-color $transition;
  }
  &__button:hover {
    cursor: pointer;
    background-color: $blue;
    border-color: $blue;
  }
}
