@import "config";

.products {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
        margin: 0 -10px;
    }

    &__main {
        padding: 0 10px;
        @media (min-width: 1200px) {
            padding: 0;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    @include columns(12);

    width: 100%;
    @media (min-width: 700px) {
        @include columns(6);
    }
    @media (min-width: 1000px) {
         @include columns(4);
    }

    &__image {
    }

    &__img {
        width: 100%;
    }

    &__info {
    }

    &__title {
        font-family: $font-heading;
        font-size: 2.25em;
    }

    &__text {
    }

    &__price {
        font-size: 1.3125em;
        font-weight: 700;
        font-family: $font-heading;
    }

    &__form {   
        display: flex;
        flex-wrap: wrap;
    }

    &__label {
        width: 100%;
    }

    &__input {
        flex: 1;
    }

    &__button {
        cursor: pointer;
    }
}