@import "config";

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  @media (min-width: 1200px) {
    padding: 0;
    margin: 0 -10px;
  }
}

.product {
  display: flex;
  width: 100%;
  @media (min-width: 700px) {
    @include columns(6);
  }
  flex-direction: column;
  @include columns(12);

  @media (min-width: 1000px) {
    @include columns(4);
  }

  &__img {
    width: 100%;
  }

  &__title {
    margin: $gutter 0;
    font-family: $font-heading;
    font-size: 2.25em;
  }

  &__text {
    height: 2.5*$gutter;
  }

  &__price {
    margin: $gutter 0;
    font-family: $font-heading;
    font-size: 1.3125em;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    width: 100%;
  }

  &__input {
    flex: 1;
    margin-right: 10px;
    border-radius: 3px;
  }

  &__button {
    padding: 7px;
    padding-left: 30px;
    font-family: $font-main;
    background: #f0f0f0 url("../img/cart.svg") no-repeat 3px 50%;
    background-size: 20px;
    border: 0.5px $black solid;
    border-radius: 3px;
    transition:
      background-color $transition,
      border-color $transition;
  }

  &__button:hover {
    cursor: pointer;
    background-color: $blue;
    border-color: $blue;
  }
}
