@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar
}

main {
  max-width: $max-width;
  margin: auto;
  padding: 0 20px;
}

// TODO sækja allar sass skrár
@import "scss/flipcards";
@import "scss/products";
