@import "scss/config";
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $font-main;
  // TODO fleiri grunn stillingar
}

main { /*stylelint-disable-line*/
  font-family: $font-main;
  max-width: $max-width;
  margin: auto;
  padding: 0 $gutter;
  @media(min-width: $max-width + 2*$gutter){
    padding: 0;
  }
}

// TODO sækja allar sass skrár
@import "scss/flipcards";
@import "scss/products";
@import "scss/config.scss";
@import "scss/forsida.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/cart.scss";
