@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $font-main;
  // TODO fleiri grunn stillingar
}

main { /*stylelint-disable-line*/
  max-width: $max-width;
  margin: auto;
}

// TODO sækja allar sass skrár
@import "scss/flipcards.scss";
@import "scss/products.scss";
@import "scss/config.scss";
@import "scss/forsida.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/cart.scss";
@import "scss/course.scss";
@import "scss/form.scss";
